<p id="notice"><%= notice %></p>

<h1>Touristic Places</h1>

<table>
  <thead>
    <tr>
      <th>Name place</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Type</th>
      <th>Img</th>
      <th>Telephone</th>
      <th>Rating</th>
      <th>Schedule</th>
      <th>Website</th>
      <th>Description</th>
      <th>Activities</th>
      <th>Price per day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @touristic_places.each do |touristic_place| %>
      <tr>
        <td><%= touristic_place.name_place %></td>
        <td><%= touristic_place.latitude %></td>
        <td><%= touristic_place.longitude %></td>
        <td><%= touristic_place.address %></td>
        <td><%= touristic_place.type %></td>
        <td><%= touristic_place.img %></td>
        <td><%= touristic_place.telephone %></td>
        <td><%= touristic_place.rating %></td>
        <td><%= touristic_place.schedule %></td>
        <td><%= touristic_place.website %></td>
        <td><%= touristic_place.description %></td>
        <td><%= touristic_place.activities %></td>
        <td><%= touristic_place.price_per_day %></td>
        <td><%= link_to 'Show', touristic_place %></td>
        <td><%= link_to 'Edit', edit_touristic_place_path(touristic_place) %></td>
        <td><%= link_to 'Destroy', touristic_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Touristic Place', new_touristic_place_path %>
