
<table>
  <h1> Touristic Places </h1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Type</th>
      <th>Image</th>
      <th>Telephone</th>
      <th>Rating</th>
      <th>Schedule</th>
      <th>Website</th>
      <th>Description</th>
      <th>Activities</th>
      <th>Price per day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.latitude %></td>
        <td><%= spot.longitude %></td>
        <td><%= spot.address %></td>
        <td><%= spot.type %></td>
        <td><%= spot.img %></td>
        <td><%= spot.telephone %></td>
        <td><%= spot.rating %></td>
        <td><%= spot.schedule %></td>
        <td><%= spot.website %></td>
        <td><%= spot.description %></td>
        <td><%= spot.activities %></td>
        <td><%= spot.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="page-header">
  <%= link_to reservations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New reservation <%= @username_actual %> </h1>
</div>

<%= render 'form' %>
