<p id="notice"><%= notice %></p>

<p>
  <strong>Name place:</strong>
  <%= @employee.name_place %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @employee.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @employee.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Type:</strong>
  <%= @employee.type %>
</p>

<p>
  <strong>Img:</strong>
  <%= @employee.img %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @employee.telephone %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @employee.rating %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @employee.schedule %>
</p>

<p>
  <strong>Website:</strong>
  <%= @employee.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @employee.activities %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @employee.price_per_day %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
